<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %} 
	
	<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		<header class="major">
			<h1>{{ page.title }}</h1>
		</header>
		
	<p>{{ content }} </p>
	
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4241.828266416791!2d-3.191736129113792!3d55.94784163742763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7852aec96b3%3A0xf419aa9d08c6ff60!2sAugustine+United+Church!5e0!3m2!1sen!2suk!4v1521114470660" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	

	</div>
</section>

</div>

	{% include footer.html %}
	
</body>

</html>



